@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html lang="PT-BR">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Rafael Vaz">
    <meta name="description" content="Potal de transmissão de Filmes e Séries de qualidade">
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <link rel="icon" type="image/png" href="~/img/icone.png">
    <link href="https://fonts.googleapis.com/css2?family=Amiko:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/scrollreveal@4"></script>

    <title>@ViewData["Title"] - Cineplay</title>

    <style>
        #logout-button {
            background-image: linear-gradient(#750bd6, #4406cd, #2d04ca);
            -webkit-box-shadow: 0px 0px 15px -6px #000000;
            box-shadow: 0px 0px 15px -6px #000000;
            cursor: pointer;
            border: none;
            border-radius: 20px;
            outline: none;
            margin: 0 10px;
            padding: 10px 20px;
            color: #fff;
            display: none;
            place-items: center;
            font-size: 14px;
        }

        #logout-button:hover {
            -webkit-box-shadow: 0px 0px 15px -3px #000000;
            box-shadow: 0px 0px 15px -3px #000000;
        }

        #logout-button img {
            height: 20px;
            width: 20px;
            margin-left: 10px;
        }

        .secondary-links {
            display: flex;
            align-items: center;
        }
    </style>

</head>

<body>
    <header>

        @if (Context.Session.GetInt32("id_usuarios") != null)
        {
            ViewBag.User = "Olá, " + @Context.Session.GetString("nome");
            <style>
                #user-button {
                    display: none;
                }

                #logout-button {
                    display: inline-flex;
                }
            </style>
        }

        <nav class="nav-bar">
            <div class="logo">
                <a asp-action="Index"><img src="~/img/logo.png" alt="Logo" title="Cineplay"></a>
            </div>

            <div class="nav-links-content">
                <a id="nav-link-index" class="nav-links" asp-action="Index" title="Home"><img class="nav-icons"
                        src="~/img/home.png" alt="Home"></a>
                <a id="nav-link-filmes" class="nav-links" asp-action="Filmes" title="Filmes"><img class="nav-icons"
                        src="~/img/movie.png" alt="Filmes"></a>
                <a id="nav-link-series" class="nav-links" asp-action="Series" title="Séries"><img class="nav-icons"
                        src="~/img/monitor.png" alt="Séries"></a>
                <a id="nav-link-pedidos" class="nav-links" asp-action="Pedidos" title="Pedidos"><img class="nav-icons"
                        src="~/img/check.png" alt="Check"></a>
            </div>

            <div class="secondary-links">
                <a id="nav-link-search" class="nav-links" href="#" title="Buscar"><img class="nav-icons"
                        src="~/img/search.png" alt="Search"></a>

                <button id="user-button" onclick="login()"><img src="~/img/user.png" class="nav-icons"
                        title="Login">Entrar</button>

                <button id="logout-button" onclick='location.href="@Url.Action("Logout", "Home")"'>@ViewBag.User
                    <img src="~/img/icone-logout.png" class="nav-icons" title="Logout"></button>

            </div>

        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <a asp-action="Index"><img src="~/img/logo-footer.png" alt="Ícone" title="Cineplay"></a>
        <p>Os melhores Filmes e Séries em um só lugar. © Copyright 2020</p>
        <a asp-action="Pedidos"><img src="~/img/mensagem.png" alt="Mensagem" title="Pedidos"></a>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
